<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Моделирование ввода пищи</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawDistributionCharts();
            drawAbsorptionChart();
        }

        function getCurrentTime() {
            return new Date();
        }

        function getDateFromMinutes(minutes) {
            var now = getCurrentTime();
            now.setMinutes(now.getMinutes() + minutes);
            return now;
        }

        function drawDistributionCharts() {
            var tValues = [[${tValues}]];
            var d1DistributionValues = [[${d1DistributionValues}]];
            var d2DistributionValues = [[${d2DistributionValues}]];

            var data1 = new google.visualization.DataTable();
            data1.addColumn('datetime', 't');
            data1.addColumn('number', 'D1');
            for (var i = 0; i < tValues.length; i++) {
                data1.addRow([getDateFromMinutes(tValues[i] - 1440), d1DistributionValues[i]]);
            }

            var data2 = new google.visualization.DataTable();
            data2.addColumn('datetime', 't');
            data2.addColumn('number', 'D2');
            for (var i = 0; i < tValues.length; i++) {
                data2.addRow([getDateFromMinutes(tValues[i] - 1440), d2DistributionValues[i]]);
            }

            var options1 = {
                title: 'Количество глюкозы (D1, mmol) в желудке',
                curveType: 'function',
                hAxis: {
                    title: 't',
                    format: 'yyyy-MM-dd HH:mm:ss',
                    textPosition: 'none', // Скрытие текста оси X
                    viewWindow: {
                        min: getDateFromMinutes(-1440),
                        max: getDateFromMinutes(1440)
                    }
                },
                vAxis: { title: 'D1' },
                legend: 'none'
            };

            var options2 = {
                title: 'Количество глюкозы (D2, mmol) в кишечнике',
                curveType: 'function',
                hAxis: {
                    title: 't',
                    format: 'yyyy-MM-dd HH:mm:ss',
                    textPosition: 'none', // Скрытие текста оси X
                    viewWindow: {
                        min: getDateFromMinutes(-1440),
                        max: getDateFromMinutes(1440)
                    }
                },
                vAxis: { title: 'D2' },
                legend: 'none'
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('distribution_chart1'));
            chart1.draw(data1, options1);

            var chart2 = new google.visualization.LineChart(document.getElementById('distribution_chart2'));
            chart2.draw(data2, options2);
        }

        function drawAbsorptionChart() {
            var tValues = [[${tValues}]];
            var uGAbsorptionValues = [[${uGAbsorptionValues}]];

            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 't');
            data.addColumn('number', 'UG');
            for (var i = 0; i < tValues.length; i++) {
                data.addRow([getDateFromMinutes(tValues[i] - 1440), uGAbsorptionValues[i]]);
            }

            var options = {
                title: 'Показатель абсорции глюкозы (UG, mmol/min)',
                curveType: 'function',
                hAxis: {
                    title: 't',
                    format: 'yyyy-MM-dd HH:mm:ss',
                    textPosition: 'none', // Скрытие текста оси X
                    viewWindow: {
                        min: getDateFromMinutes(-1440),
                        max: getDateFromMinutes(1440)
                    }
                },
                vAxis: { title: 'UG' },
                legend: 'none'
            };

            var chart = new google.visualization.LineChart(document.getElementById('absorption_chart'));
            chart.draw(data, options);
        }

        function setCurrentDateTime() {
            var now = new Date();
            var formattedDateTime = now.toISOString().slice(0, 16);  // Формат для поля datetime-local
            document.getElementById('startTime').value = formattedDateTime;
        }

        function submitForm(createEntry) {
            var form = document.getElementById('glucoseForm');
            var isCreateEntryInput = document.getElementById('isCreateEntry');
            isCreateEntryInput.value = createEntry;
            form.submit();
        }

    </script>
</head>
<body onload="setCurrentDateTime()">
<h1>Моделирование ввода пищи</h1>

<!-- Секция для отображения сообщений об ошибках -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<form id="glucoseForm" action="#" th:action="@{/glucose/subsystem}" th:object="${formData}" method="post">
    <label for="startTime">Время начала приема пищи:</label>
    <input type="datetime-local" id="startTime" name="startTime" th:value="*{startTime}" required>
    <br/>
    <br/>
    <label for="carbs">Вес поглощенной углеводной пищи (грамм):</label>
    <input type="number" id="carbs" name="carbs" min="0" max="551" step="0.01" th:value="*{carbs}" required>
    <br/>
    <br/>
    <label for="duration">Продолжительность приема пищи (минут):</label>
    <input type="number" id="duration" name="duration" min="0" max="60" step="0.01" th:value="*{duration}" required>
    <br/>
    <br/>
    <input type="hidden" id="isCreateEntry" name="isCreateEntry" th:value="*{isCreateEntry}" />
    <button type="button" onclick="submitForm('true')">Создать запись и построить прогноз</button>
    <button type="button" onclick="submitForm('false')">Построить прогноз без создания записи</button>
</form>

<div id="distribution_chart1" style="width: 900px; height: 500px"></div>
<div id="distribution_chart2" style="width: 900px; height: 500px"></div>
<div id="absorption_chart" style="width: 900px; height: 500px"></div>
</body>
</html>
